body{
    font-family: 'Poppins', sans-serif;
}

nav{
    font-weight: 200;
    font-size: 1.2rem;

    .nav__item:hover{
        color: rgba(255, 255, 255, 0.582);
        font-size: 1.3rem;
    }
}

